<div class="page-header">
  <h1>The Color of Monitoring</h1>
</div>
<div class="arcade-flex-container-row">

  <div class="arcade-flex-container-column">
    <h3>Mario Kart: High Score</h3>
    <img class="arcade-pic" src="public/plugins/grafana-arcade-app/img/mario_kart_logo.png" width="500">
    <div class="gf-form gf-form-group">
      <label class="gf-form-label width-5">Score</label>
      <input class="gf-form-input width-7" type="text" required ng-model="ctrl.ddrScore">
      <button type="submit" class="btn btn-success" ng-click="ctrl.record('ddr_score', ctrl.ddrScore)">Record</button>
    </div>
  </div>
  <br />
  <div class="arcade-flex-container-column">
    <h3>Super Mario Bros: Highest Level on 1 Life (ex: world 1-1 = 101)</h3>
    <img class="arcade-pic" src="public/plugins/grafana-arcade-app/img/super_mario_bros._logo.svg" width="500">
    <div class="gf-form gf-form-group">
      <label class="gf-form-label width-6">Level</label>
      <input class="gf-form-input width-6" type="text" required ng-model="ctrl.highestLevelOneLife">
      <button type="submit" class="btn btn-success" ng-click="ctrl.record('highest_level_one_life', ctrl.highestLevelOneLife)">Record</button>
    </div>
  </div>
  <br />
  <div class="arcade-flex-container-column">
    <h3>Super Mario Bros: Speed Run</h3>
    <img class="arcade-pic" src="public/plugins/grafana-arcade-app/img/super_mario_bros._logo.svg" width="500">
    <div class="gf-form gf-form-group">
      <label class="gf-form-label width-8">Time (seconds)</label>
      <input class="gf-form-input width-6" type="text" required ng-model="ctrl.speedRun">
      <button type="submit" class="btn btn-success" ng-click="ctrl.record('speed_run', ctrl.speedRun)">Record</button>
    </div>
  </div>
  <br />
  <div class="arcade-flex-container-column">
    <h3>Pinball: High Score</h3>
    <img class="arcade-pic" src="public/plugins/grafana-arcade-app/img/pinball-icon.svg" width="500">
    <div class="gf-form gf-form-group">
      <label class="gf-form-label width-8">Score</label>
      <input class="gf-form-input width-6" type="text" required ng-model="ctrl.pinballHighScore">
      <button type="submit" class="btn btn-success" ng-click="ctrl.record('pinball_high_score', ctrl.pinballHighScore)">Record</button>
    </div>
  </div>
</div>
